.centered {
    text-align: center;
}

.float-right {
    float: right;
}

.employeeListTable {
    margin-bottom: 2rem;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

thead {
    background-color: darkgrey;
}