form .MuiTextField-root {
    margin-right: 2rem;
}

.employeeInfo {
    margin-bottom: 2rem;
}

form .dependentsTable {
    max-width: 60rem;
    margin: 2rem 0;
}

form {
    max-width: 70rem;
}

#benefitPreview {
    font-size: medium;
}

#addEmployee {
    float: right;
}

.error-message {
    color: red;
    float: right;
}